{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div id="flair">
          <p class="ascii-art"><svg xmlns="http://www.w3.org/2000/svg">
    <text x="0" y="0" text-anchor="left">
       _mmmMMMMMmmm_
    _mMMMMMMPPPMMMMMMm_
   mMMMMb:       ``YMMMm
 ,MMMP`MMMb_         YMMM.
,MMM'   YMMMm         `MMM.
dMMP      YMMML        YMMb
MMM        `YMMM.       MMM
MMM.         `MMMb.    ,MMM
YMMb           YMMMm   dMMP
 YMML            YMMMLdMMP
  YMMb.           `YMMMMP
   `MMMMm.__   __,mMMMM'
     `YMMMMMMMMMMMMMP'
        '""PPPPP""'
    </text></svg></p>
  </div>
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
