{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div id="flair">
          <svg xmlns="http://www.w3.org/2000/svg">
    <text y="0" text-anchor="left">
<tspan x=0 y=1em> ;do;;;;l,:KXXXOc..';;,;;,;'.';lxxxl,lKXkc...ckKXKXX0l'..cOXXXXOc..''................................
</tspan><tspan x=0 y=2em>oloo;;c;..:OXXXd,;lodxxddooodxxxdc,l0XXXKx;..'l0XXXXKkc..'o0XXXKx:..................................
</tspan><tspan x=0 y=3em>c;;clc:co' .d0o,cddollllc::::ccc,'':xKXXXXKd,..,d0XXXXKx;..,dKXXXKd,................................
</tspan><tspan x=0 y=4em>',,,;:cOXO;..',cxo:;:'..........'''..;xKXXXX0o'..;lxKXKX0d,..:kXXKOo,.................';;::::;,.....
</tspan><tspan x=0 y=5em>''':l';0XXKo..;dd;:kl...';:c:;'.'''....:xKXXXXOc....:kKXKXOl'..cc;...................:lc:::::clc,...
</tspan><tspan x=0 y=6em>;,;c:..,kXXXk,;xo,::..'cO0OOO0ko:,.......:kKXXXKk:'...lOKXXOc.......';::;..........'cl:::::::cccc,..
</tspan><tspan x=0 y=7em>,;l:dO:..dKN0:;dd;....dKklccldkKKkl,......'cOXXXXK0x;..'oxc'.....;okOOOOOOo'.......:l:::::::::c:l:'.
</tspan><tspan x=0 y=8em>;c,:0X0c..c0Xl,oxc...c0xcccccccokKXOo'......'o0XXXXX0o,.......;oO0koc:::cokx'......:l:::::::::::cc,.
</tspan><tspan x=0 y=9em>l:..oKXKd. 'xx,cxc..'xOlcccccccccoxKX0o,......,d0XKXXO:.....:xKKxc;;;;;;;;cko......;occc::::::::cc,.
</tspan><tspan x=0 y=10em>clo..lKXXO; .,':d;..;Oxcccccccccc::lkKXOl'......;x0Oo'....:kKKkl;;;;;;;;;;;dO,......lkxxddddddoooc..
</tspan><tspan x=0 y=11em>c0Xx'.:dllc'  'oo,..cOocccccccccc::::d0XXk:.......'.....;xKX0o:;;;;;;;;;;;;lOc..  . .;ccodxkxkkko,..
</tspan><tspan x=0 y=12em>'kXXx..,;,,',:odl'..lOlcccccccccc::;;:o0XXKd'.........'d0XXOl;;;;;;;;;;;;;;ckl.         ..,coxo:'...
</tspan><tspan x=0 y=13em>.'kKl;loodddddo:'...oOlccccccccc::;;;;;l0XXXkc;;,,,,,cOXXKx:;;;;;;;;;;;;;;,:kd,,;;;;;,'..  .........
</tspan><tspan x=0 y=14em>d..;;lc,'',;,,'''...dklccccccclloddxxkkk0XOokxcclllco00kK0doollc:;;;;;;;;;lkKKKKXXXXXXK0ko;......',;
</tspan><tspan x=0 y=15em>Xx..cc;oo.  .',;,..'dklcccloxO0KKXXXXXXXXk'.oOxlccclxOl.;0XXXXKKOkdo:;,,:xKXXXXXXXXXXXXXXXKd'....;;'
</tspan><tspan x=0 y=16em>XXx;c:cKx. .,;;;'...oklcldOKXXXXXXXXXXXXXk;..',;;;;,'...,kXXXXXXXXXX0xl:xXXXXXXXXXNXKXXXXXXXk,..':,.
</tspan><tspan x=0 y=17em>oX0:cc;:..';;;,'....lxclxOOO00KKXXXXXXXXXXKOxdollllllodkKXXXXXXXXXXXXXKO0XKk0KxOOkKkxK0KKO0XXx...;,.
</tspan><tspan x=0 y=18em>.lOl:l' .','........','','''',,;;:cldxO0KXXXXXXXXXXNXXNXXXXXXXXKKKKKKKK0oxo.ckoo,.xddd.:kokkcd:..,,.
</tspan><tspan x=0 y=19em>c.:l:l,.,,.   .';cloodddddollc:;,......,:coxOKXXXXXXXK0kxdlc::;,,;;;;:::,,,.';;,..:cl; .oodc ;l..',.
</tspan><tspan x=0 y=20em>Kl..;l,',. .:dk0XXK0OOOOkkkOOOO00Okkdol:;'...,:llllc;,..',;:loddxxkkkkOOOOOOOkkxddolc,..oxkd;ol..',.
</tspan><tspan x=0 y=21em>o:..:l,',. .xd:xOdlccccc:::::lxOxdOKXXXXK0kdl:,''',;:ldk0KXK0OkxdollccccdOOk0XXXX0dokO;.oKXXXKl..''.
</tspan><tspan x=0 y=22em>,::co:',;. .l00Oo:cclcccc::cxkxod0KKKKOk0XKXXXK00KKKXNXXKkolc:;;;;;:;;cxkxx0XXXKKOlcxx..xXXKXO,..'..
</tspan><tspan x=0 y=23em>'cll;',;,.  .dXOlcllllllclxOkdx0KKKK0dc:o0XXXK0kO0KXXXXXkc::::::::::lxkxx0XXXKkooKNXk, .oXXXKo....';
</tspan><tspan x=0 y=24em>.....,;;.... ,O0olllllllxOkxx0KKKK0xl:::l0XX0l''',:dKXXKdccccccccclxkkk0XXXKOoccdKXo....oXXXO, ..,co
</tspan><tspan x=0 y=25em>..,;;;;' 'd: .o0dlolloxOOxx0XXXK0xlcccccd0XXx.,xo. 'kXXKdcccccccoxOkk0XXXKOdccclOXd..lxkKXXKl. .;:lc
</tspan><tspan x=0 y=26em>lo:;;;'. .lo. ,OkooldOOxk0KXXK0xlccccccckKXO;,kX0c..cKXKdcllccoxOkk0XXXKOdllcclxKk,.lKNNXXXx. .:c;:;
</tspan><tspan x=0 y=27em>XKOl;,..c,.,. .l0xdkOkx0XXXX0koccccccccd0XO:;kXXX0x:.dXXklcloxOkk0XXXKOdlccccco0O,.:0XXXXXO;...,::;;
</tspan><tspan x=0 y=28em>00Kk;..oXO;  . 'xKOkkOXXXX0xlcc::::cccoOXO:,llc:coxd,'xXKxoxOkkOXXXKOdlccccccoOk,.;OXXXXXXd...'',:c:
</tspan><tspan x=0 y=29em>K0Kk, .lK0;... .;OK0KXXXKxl:::;;:::::o0Kx;cl.';.,,.,o:.l0K0OkOKXXKOoc::::::cdOd'.;OXKKXXXKc...'''',;
</tspan><tspan x=0 y=30em>00Kd.;,.:;.... ..,d0XXXOl:::;;;;;:cok0kc;o0klcc;cl:lkOl',oO0KXXKOoc:::::cldxd:..l0XXKXXKX0:...''''''
</tspan><tspan x=0 y=31em>KKk,;00;  ...,'...'cxxxxxxxxxddddddoc;;lOXKOkOkoxOkkOKXOl,':dk00kxxxxxxxdoc,..ck0xl:;:oOXO;.....''''
</tspan><tspan x=0 y=32em>o:..,OO, ...l0Oc...,dkdlcc:::;,,''',cx0XXXXXXX0xONNXXXXXX0xl:;;:ccccc:;'.',:dOKx,..,,,''ox,..c:..,''
</tspan><tspan x=0 y=33em>..lo'''.. 'dkOKd,''.,dXKkoc::::clodkkk0XXXXXX0ocd0XXXXXXXXKOkkxdolllc:cokOx0XXd..cxO00Odc:'..ol'.,'.
</tspan><tspan x=0 y=34em>.:KXl. ..,xxxxc;ol'..'l0KOxddolcc::::oOXKK0kxodxddxkO0KXXXOoccclloddxkOKOoxKXO,'x00koclkk;...'.':;':
</tspan><tspan x=0 y=35em>,.ox,...;xddo;cxOko,...,oOXKOkxxxxkOO0KXXK000XXXXXXK0KKXXXK00Okkkkk0KXKdcxKXXd.c00k;...'dl....;:cl:o
</tspan><tspan x=0 y=36em>O;... .:xxdc:dkkkkkc.....':dOKXXXXXKKKKKXXKXXXXXXXXXXXXXXXXXXXXXXK0Oxl:ckXXXXo.l00x'...'dc..,;;llcol
</tspan><tspan x=0 y=37em>Kc.  .cxdo:;:::cxkkl......  .';:lodxkOO00KKKKKKKKKKKKKK00Okxxdlc:;'..ckKXXXXXk';k0Oxc:cxd'..lOo;ollx
</tspan><tspan x=0 y=38em>;.. .lkxl:c:'',,:dkd,....         .....'',,;;;;;;;;;,,,'............:0XXXXXXXKl.,dO000ko'..'d00xcox0
</tspan><tspan x=0 y=39em>.. 'dxxl:od:,..;;lxc'...'lc'.       ..............................'',dKXXXXXXX0l..,::;,'....;x00xxK0
</tspan><tspan x=0 y=40em>..,dkkc::cdl,',,:l,....cOKK0xl:,.....  .......;;,:c,.........,:coxO0xco0XXKXXXXKkl:,;cc,...c:,d0KKOl
</tspan><tspan x=0 y=41em>.ckkd::;..;ddccol'...:xKXKKKKKKK0kxdollc::;;,lc..:xo::cllodkO0KXXXXKXKOkKXXXXXKKKKKK0x,..,;'cccOKd::
</tspan><tspan x=0 y=42em>okOx::,....;xkkd,...l0XKKKKKKKKKKKKKXXXXKxccc:'..';:cccoOKKKKKKKXXKKXXXKKXXKKXKKKKKOl...;x0o,o0Ol;;:
</tspan><tspan x=0 y=43em>kkl;:'  ...,dko,...:OXKKKKKKKK00KKKKXKko::cl:',ll,'':ol;;cx0KKKKKKXXKKXXXXKXKKKXKOo,....cO00Okkc;ccc
</tspan><tspan x=0 y=44em>dc::..   .;do;....'dXKKOxkOKKKOxkKKKk:,:odl'.;cccc:,.'cdo;.:OKKKKKKKKXXKKKXKKKOd:'....;:';x0Od::lllc
</tspan><tspan x=0 y=45em>:lx:... .ldc......;OXk;..',;oOXkcxKKkc,;odc.'cccccl:..cdc,;d0KKKKKKKKKXKKKK0d:'.....;;.;llxOl,:cccc:
</tspan><tspan x=0 y=46em>::co;..,oo,.......;0O,'oxkxo::xKd;dKXKkc,:oc';dddol,'cc,;o0KKKKKKKKKKKKKK0o,,,....''.:l:o0x;;loccc:,
</tspan><tspan x=0 y=47em>,''co;:dc........:kKl,dOOkkOOd:d0c,kXKKKkc;::':dd;.':;,o0KKKKKKKKKKKKKK0d,'o00o....:c,cO0o;lk00xc;,'
</tspan><tspan x=0 y=48em>,..:dko,...   .,dKXKl:kkc..,lOxcdk';0KKKKKkc,'':;..',lOKKKKKKKKKKKKKKKk:':OKKKO;....cOOkc,o00O0k:',:
</tspan><tspan x=0 y=49em>:,,lxl...    ..c0XKKo:kd.   .cOockl.oKKKKKKKkc...';lOKKKKKKKKKKKKKKKKx,,d0KKKKx'.....od;.l00O00x,,c;
</tspan><tspan x=0 y=50em>dloxl. .   . .ccxXKXk:dd.    ,kx:xO',OKKKKKKKKd.,kKKKKKKKKKKKKKKKKKKk,,xKKKKKKd.,c...''.,x0OOOOc'lc'
    </text></svg>
  </div>
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
