@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

/**
 * Style variables
 */
$base-font-family:     'Source Code Pro', monospace !default;
$base-font-size:       14px !default;
$mobile-font-size:     13px !default;
$base-line-height:     1.5 !default;
$container-width:      90% !default;
$container-max-width:  1000px !default;

/**
 * Global
 */
body { background-color: var(--background-color);  margin: 0 auto;  padding: 0;  font-family: $base-font-family;  font-size: $base-font-size;  color: var(--text-color);  text-align: left;  line-height: $base-line-height !important; }
h1, h2, h3, h4, h5, h6 { font-size: $base-font-size;  margin: 0px;  margin-top: 22px;  font-weight: bold;  color: var(--text-color); }
p, ul, ol { margin: 0px;  color: var(--text-color); }
img { max-width: 100%; border: 3px; border-color: var(--code-color-1); }
p, ul, ol { margin-bottom: 1.5em; }
pre { padding: 1em; }
a { text-decoration: underline;  color: var(--link-color); }
a:hover { color: var(--background-color); background-color: var(--base-color); }
.primary-text { color: var(--primary-color); }
@media only screen and (max-device-width: 500px) { * { font-size: $mobile-font-size !important; } }
/*h1:before { content: "#";  margin-right: 9px; }
h2:before { content: "##";  margin-right: 9px; }
h3:before { content: "###";  margin-right: 9px; }
h4:before { content: "####";  margin-right: 9px; }
h5:before { content: "#####";  margin-right: 9px; }
h6:before { content: "######";  margin-right: 9px; }*/


/**
 * Layout
 */
.container { width: $container-width;  max-width: $container-max-width;  margin-right: auto;  margin-left: auto; }
p { word-wrap: break-word;  word-break: break-word;  white-space: pre-wrap; }
footer { color: var(--text-color);  border-top: var(--border);  margin: 20px auto 15px;  padding-top: 10px;  text-align: right; }
header { margin-top: 1em;  margin-bottom: 10px; }
header p { text-align: left;  margin: 0; }
footer { margin-bottom: 20px; }

/**
 * Highlight/Markup
 */
::selection { background: var(--selection-background);  color: var(--selection-text); }
::-moz-selection { background: var(--selection-background);  color: var(--selection-text); }

/**
 * Lists
 */
:not(.menu) > ul { list-style: none;  padding-left: 0; }
:not(.menu) > ul { list-style-type: none; }
:not(.menu) > ul > li:before { content: "-";  margin-right: 9px; }

/**
 * Header/Navigation
 */
.menu { border-top: var(--border);  border-bottom: var(--border);  margin-bottom: 25px; }
.menu ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.menu ul li { display: inline;  margin-left: 10px; }
.menu ul li a { text-decoration: none;  color: var(--text-color); }
.menu ul li a:hover { text-decoration: none; color: var(--background-color); background-color: var(--base-color); }

/**
 * Form
 */
input, select, textarea { padding: 0;  margin: 0;  -webkit-appearance: none;  -webkit-border-radius: 0;  border: none; }
input[type=text], select, textarea { width: 100%;  resize: none;  background-color: var(--background-color);  color: var(--text-color);  caret-color: var(--text-color);  font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height; }
input, select, textarea, textarea::-webkit-input-placeholder { text-indent: 0px; }
::placeholder { color: var(--placeholder-color);  opacity: 1; }
:-ms-input-placeholder { color: var(--placeholder-color); }
::-ms-input-placeholder { color: var(--placeholder-color); }
input[type=submit] { font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height;  cursor: pointer;  color: var(--link-color);  background-color: var(--background-color); }
input[type=submit]:hover { color: var(--background-color); background-color: var(--base-color); }
*:focus { outline: none; }
textarea { vertical-align: top; }

/**
 * Code and syntax highlighting
 */
.lineno { color: var(--code-color-1); margin-right: 15px; }
figure.highlight { margin: 5px 0; }
pre { background-color: var(--background-color); border: 1px;  padding: .5em;  margin: 0;  margin-bottom: 1.5em;  overflow:auto;  font-size: $base-font-size;  color: var(--text-color);  line-height: 1.7 !important;  font-family: $base-font-family !important; }
.highlight code, .highlight pre {
color:#fdce93;
background-color:#3f3f3f;
}

.highlight .hll {
background-color:#222;
}

.highlight .err {
color:#e37170;
background-color:#3d3535;
}

.highlight .k {
color:#f0dfaf;
}

.highlight .p {
color:#41706f;
}

.highlight .cs {
color:#cd0000;
font-weight:700;
}

.highlight .gd {
color:#cd0000;
}

.highlight .ge {
color:#ccc;
font-style:italic;
}

.highlight .gr {
color:red;
}

.highlight .go {
color:gray;
}

.highlight .gs {
color:#ccc;
font-weight:700;
}

.highlight .gu {
color:purple;
font-weight:700;
}

.highlight .gt {color:#0040D0; }
.highlight .kc {color:#dca3a3; }
.highlight .kd {color:#ffff86; }
.highlight .kn {color:#dfaf8f; font-weight:700; }

.highlight .kp {
color:#cdcf99;
}

.highlight .kr {
color:#cdcd00;
}

.highlight .ni {
color:#c28182;
}

.highlight .ne {
color:#c3bf9f;
font-weight:700;
}

.highlight .nn {
color:#8fbede;
}

.highlight .vi {
color:#ffffc7;
}

.highlight .c,.preview-zenburn .highlight .g,.preview-zenburn .highlight .cm,.preview-zenburn .highlight .cp,.preview-zenburn .highlight .c1 {
color:#7f9f7f;
}

.highlight .l,.preview-zenburn .highlight .x,.preview-zenburn .highlight .no,.preview-zenburn .highlight .nd,.preview-zenburn .highlight .nl,.preview-zenburn .highlight .nx,.preview-zenburn .highlight .py,.preview-zenburn .highlight .w {
color:#ccc;
}

.highlight .n,.preview-zenburn .highlight .nv,.preview-zenburn .highlight .vg {
color:#dcdccc;
}

.highlight .o,.preview-zenburn .highlight .ow {
color:#f0efd0;
}

.highlight .gh,.preview-zenburn .highlight .gp {
color:#dcdccc;
font-weight:700;
}

.highlight .gi,.preview-zenburn .highlight .kt {
color:#00cd00;
}

.highlight .ld,.preview-zenburn .highlight .s,.preview-zenburn .highlight .sb,.preview-zenburn .highlight .sc,.preview-zenburn .highlight .sd,.preview-zenburn .highlight .s2,.preview-zenburn .highlight .se,.preview-zenburn .highlight .sh,.preview-zenburn .highlight .si,.preview-zenburn .highlight .sx,.preview-zenburn .highlight .sr,.preview-zenburn .highlight .s1,.preview-zenburn .highlight .ss {
color:#cc9393;
}

.highlight .m,.preview-zenburn .highlight .mf,.preview-zenburn .highlight .mh,.preview-zenburn .highlight .mi,.preview-zenburn .highlight .mo,.preview-zenburn .highlight .il {
color:#8cd0d3;
}

.highlight .na,.preview-zenburn .highlight .nt {
color:#9ac39f;
}

.highlight .nb,.preview-zenburn .highlight .nc,.preview-zenburn .highlight .nf,.preview-zenburn .highlight .bp,.preview-zenburn .highlight .vc {
color:#efef8f;
}


/**
 * Responsive ASCII SVGs via https://blog.zgp.org/responsive-ascii/
 */
svg {
        /* width: 100%;
        height: 100%; */
        overflow: visible;
}

svg text {
        line-height: 100%;
        white-space: pre;
        font-family: monospace;
        font-size: 12px;
        fill: #DBDBDB;
        user-select:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
}

.ascii-art {
        text-align: center;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #ffffff;
    margin-bottom: 1em;
}

th{
    border:2px solid #dddddd;
}

td{
    border:1px solid #cccccc;
}

th, td {
  padding: .5em;
  text-align: center;
}

code {
  font-family: monospace;
  color: #66d9ef;
  background-color: #272822; 
}
